<form ng-submit="controller.editAd()">
    <input type="hidden" ng-model="controller.ad.adId"></input>
    <br>
    <label>Title</label>
    <br>
    <input type="text" ng-model="controller.ad.title"></input>
    <br>
    <label>Description</label>
    <br>
    <input type="text" rows="10" ng-model="controller.ad.description"></input>
    <br>
    <label>Price</label>
    <br>
    <input type="number" ng-model="controller.ad.price"></input>
    <br>
    <label>Street</label>
    <br>
    <input type="text" ng-model="controller.ad.street"></input>
    <br>
    <label>City</label>
    <br>
    <input type="text" ng-model="controller.ad.city"></input>
    <br>
    <label>State</label>
    <br>
    <select ng-model="controller.ad.state">
        <option value="AZ">AZ</option>
        <option value="CA">CA</option>
    </select>
    <br>
    <label>ZIP</label>
    <br>
    <input type="number" ng-model="controller.ad.zip"></input>
    <br>
    <label>Email</label>
    <br>
    <input type="text" ng-model="controller.ad.email" required></input>
    <br>
    <label>Phone</label>
    <br>
    <input type="string" ng-model="controller.ad.phone"></input>
    <br>
    <label>Category</label>
    <br>
    <select ng-model="controller.ad.categoryId">
        <option ng-repeat="category in controller.categories" value="{{ category.categoryId }}"> {{ category.name }} </option>
    </select>
    <br>
    <label>Image</label>
    <br>
    <input type="text" ng-model="controller.ad.image"></input>
    <br>
    <input type="submit" value="Save Changes"></input>
    <br>
    <button ng-click="controller.deleteAd(ad.adId,ad.activeId)">Delete</button>
    <br>
    <button ng-click="controller.cancel()">Cancel</button>
</form>

